@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: #272727;
  text-decoration: none;
  border-bottom: 2px solid #272727;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "EB Garamond", serif;
  color: #272727;
  background-color: #F5706C;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  color: #272727;
}

a.uppercase {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a.uppercase:hover {
  border-color: #272727;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 60px;
}

header {
  text-align: center;
}

.header {
  margin: 40px 0;
}

.header__tab {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-bottom: 60px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header__tab:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  height: 2px;
  width: 348px;
  background-color: #272727;
  z-index: -1;
}

.header__tab--light {
  color: #272727;
  background-color: #FCFCF0;
}

.header__tab--dark {
  color: #FCFCF0;
  background-color: #272727;
}

.main {
  margin: 40px 0;
}

.container {
  width: 100%;
  max-width: 720px;
  padding: 0 24px;
  margin: 0 auto;
}

.list {
  margin-bottom: 70px;
  counter-reset: section;
}

.list-item {
  margin: -4px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.list-item:hover {
  background-color: #EA5757;
}

.list-item:last-of-type .list-item__header {
  border-bottom: 4px solid #FCFCF0;
}

.list-item:last-of-type .list-item__header.active {
  border-bottom: 4px solid transparent;
}

.list-item__header {
  position: relative;
  display: block;
  padding: 20px 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.list-item__header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: #FCFCF0;
}

.list-item__header:after {
  position: absolute;
  top: 20px;
  left: -38px;
  counter-increment: section;
  content: counters(section, ".") " ";
  width: 30px;
  height: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #FCFCF0;
  font-family: "Poppins", sans-serif;
  background-color: #272727;
  border-radius: 50%;
  text-align: center;
}

.list-item__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}

.list-item__content {
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  background-color: #FCFCF0;
}

.list-item__inside {
  padding: 30px 0;
}

.list-item__inside p {
  margin-bottom: 30px;
  line-height: 30px;
}

.list-item__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
/*# sourceMappingURL=styles.css.map */