header {
    text-align: center;
}

.header {
    margin: 40px 0;

    &__tab {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-bottom: 60px;
        font-size: 15px;
        font-weight: 700;
        font-family: $sans;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            height: 2px;
            width: 348px;
            background-color: $mineShaft;
            z-index: -1;
        }

        &--light {
            color: $mineShaft;
            background-color: $rumSwizzle;
        }

        &--dark {
            color: $rumSwizzle;
            background-color: $mineShaft;
        }
    }
}

.main {
    margin: 40px 0;
}

.container {
    width: 100%;
    max-width: 720px;
    padding: 0 24px;
    margin: 0 auto;
}