.list {
    margin-bottom: 70px;
    counter-reset: section;
}

.list-item{
    margin: -4px 0;
    transition: all 0.5s ease;

    &:hover {
        background-color: $frolyHover;
    }

    &:last-of-type {
        .list-item__header {
            border-bottom: 4px solid $rumSwizzle;

            &.active {
                border-bottom: 4px solid transparent;
            }
        }
    }

    &__header {
        position: relative;
        display: block;
        padding: 20px 12px;
        cursor: pointer;
        user-select: none;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 4px;
            background-color: $rumSwizzle;
        }

        &:after {
            position: absolute;
            top: 20px;
            left: -38px;
            counter-increment: section;
            content: counters(section, ".") " ";
            width: 30px;
            height: 30px;
            font-weight: 700;
            line-height: 30px;
            color: $rumSwizzle;
            font-family: $sans;
            background-color: $mineShaft;
            border-radius: 50%;
            text-align: center;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 30px;
    }

    &__content {
        max-height: 0;
        transition: max-height 0.3s ease-out;
        overflow: hidden;
        background-color: $rumSwizzle;
    }

    &__inside {
        padding: 30px 0;

        p {
            margin-bottom: 30px;
            line-height: 30px;
        }
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        font-family: $sans;
        text-transform: uppercase;
    }
}