p {
    font-family: $sans;
    font-size: 22px;
    line-height: 35px;
    font-weight: 400;
    color: $mineShaft;
}

a {
    &.uppercase {
        font-size: 16px;
        font-family: $sans;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        border-color: transparent;
        transition: all 0.3s ease;

        &:hover {
            border-color: $mineShaft;
        }
    }
}

strong {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 60px;
}