// colours (names courtesy of https://chir.ag/projects/name-that-color)
$froly: #F5706C;
$frolyHover: #EA5757;
$rumSwizzle: #FCFCF0;
$mineShaft: #272727;

// Font Families (Google Fonts)
$serif: 'EB Garamond', serif;
$sans: 'Poppins', sans-serif;